<footer class="site-footer h-card">
<div class="social-menu center-align">
					<div class="social-group">
						<p><a href="/us.html?zid=cl-global">Cisco Live</a></p>
						<span class="social-icon"><a href="https://www.facebook.com/ciscoliveus/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://instagram.com/ciscolive/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.linkedin.com/groups/2639452/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://twitter.com/CiscoLive" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.youtube.com/user/Cisco/welcome" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"> </i></a></span>
					</div>
					<div class="social-group">
						<p><a href="/emea.html?zid=cl-global">Cisco Live EMEAR</a></p>
						<span class="social-icon"><a href="https://www.facebook.com/ciscoliveeurope" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://instagram.com/ciscoliveeurope/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.linkedin.com/groups/4557837/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://twitter.com/CiscoLiveEurope" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.youtube.com/ciscoliveeurope" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"> </i></a></span>
					</div>
					<div class="social-group">
						<p><a href="/apjc.html?zid=cl-global">Cisco Live APJC</a></p>
						<span class="social-icon"><a href="https://www.facebook.com/CiscoLiveAPJC" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.instagram.com/CiscoLiveAPJC/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.linkedin.com/groups/4744933/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://twitter.com/CiscoLiveAPJC" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.youtube.com/CiscoANZ" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"> </i></a></span>
					</div>
				</div>
  
  </footer>
