<footer class="site-footer h-card">

	<div class="section-content">

<!-- DM:dm/components/column/2-column:V1.0.1 -->

		<div class="md-flex lg-flex xl-flex">
			<div class="md-col-6 lg-col-7 col-12 md-pb3 sm-pb3 xs-pb3 center-align lg-left-align xl-left-align">

<!-- DM:dm/components/html/htmlblob-v1:V1.0.1 -->

				<div class="menu center-align lg-left-align xl-left-align">
					<p><a href="/global/featured-on-demand.html">On-Demand Library</a>
					<!--<a href="/global/online-events.html">Online Events</a>-->
					<a href="/global/help.html">Site Help</a>
					<a href="/global/help.html#account-settings">Account Help</a></p>
				</div>

<!-- DM:dm/components/html/htmlblob-v1:V1.0.1 -->

				<div class="social-menu center-align">
					<div class="social-group">
						<p><a href="/us.html?zid=cl-global">Cisco Live US</a></p>
						<span class="social-icon"><a href="https://www.facebook.com/ciscoliveus/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://instagram.com/ciscolive/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.linkedin.com/groups/2639452/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://twitter.com/CiscoLive" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.youtube.com/user/Cisco/welcome" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"> </i></a></span>
					</div>
					<div class="social-group">
						<p><a href="/emea.html?zid=cl-global">Cisco Live EMEAR</a></p>
						<span class="social-icon"><a href="https://www.facebook.com/ciscoliveeurope" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://instagram.com/ciscoliveeurope/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.linkedin.com/groups/4557837/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://twitter.com/CiscoLiveEurope" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.youtube.com/ciscoliveeurope" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"> </i></a></span>
					</div>
					<div class="social-group">
						<p><a href="/apjc.html?zid=cl-global">Cisco Live APJC</a></p>
						<span class="social-icon"><a href="https://www.facebook.com/CiscoLiveAPJC" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.instagram.com/CiscoLiveAPJC/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.linkedin.com/groups/4744933/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://twitter.com/CiscoLiveAPJC" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"> </i></a></span>
						<span class="social-icon"><a href="https://www.youtube.com/CiscoANZ" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"> </i></a></span>
					</div>
				</div>

			</div>

			<div class="md-col-6 lg-col-5 col-12 md-pb3 sm-pb3 xs-pb3 center-align lg-right-align xl-right-align">

<!-- DM:dm/components/html/htmlblob-v1:V1.0.1 -->

				<div class="col-r">
					<div class="logos">
						<span class="ciscolive"><a href="//www.ciscolive.com"><img alt="Cisco Live Global Events" src="/c/dam/r/ciscolive/headlibs/img/global/cisco-live-logo-2020.png"></a></span>
						<span class="cisco"><a href="https://www.cisco.com" target="_blank"><img alt="Cisco Logo" src="/c/dam/r/ciscolive/assets/home/2019/i/2019-cisco.png"></a></span>
					</div>
					<div class="support">
						<p><span>Site Support:</span> <a href="mailto:ciscolive@cisco.com">ciscolive@cisco.com</a></p>
					</div>
					<div class="copyright">
						<p><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms &amp; Conditions</a>
						<a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a>
						<a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a>
						<a href="#privacy-manager" id="cookie-manager">Cookie Manager</a></p></div>
						<script type="text/javascript">
						jQuery(document).ready(function(){
						      jQuery("#cookie-manager").attr('href' , location.protocol+'//'+location.host+location.pathname + "#privacy-manager");
						});
						</script><p></p>
						<p>© <script type="text/javascript">document.write(new Date().getFullYear());</script>2021 Cisco Systems Inc. All Rights Reserved.</p>
					</div>
				</div>

			</div>
		</div>

  

  
  </footer>
